<h1>Movies Page</h1>

<table>
        <tr>
            <th>Title</th>
            <th>Director</th>
        </tr>
     <% @movies.each do |movie| %>
        <tr>
            <td><%= link_to movie.title, movie%></td>
            <td><%= movie.director %></td>
        </tr>
    <% end %>
</table>

<div><br>
    <%= link_to "Add Movie", new_movie_path %>
</div>